<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Status</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

  </head>

  <body ng-controller="nodeCtrl">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <% include partials/navbar %>
    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

      <form id="uploadForm"
            enctype="multipart/form-data"
            action="/upload"
            method="post">
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="insertLabel" aria-hidden="true">
    	<div class="modal-dialog" style="width:80%">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
    				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    				<h4 class="modal-title">Upload a Set</h4>
    			</div>
    			<div class="modal-body form-horizontal row" >
                	<input type="file" name="uploadFile"/>
                	<button type="submit" class="btn btn-primary">Submit</button>
    			</div>

    			<div class="modal-footer">
    				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    			</div>
    		</div>
    	</div>
    </div>

  </form>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
    	var map;
    	var nodes = <%- JSON.stringify(nodes) %> ;
      var title = "<%- title %>";
	  var sets = <%- JSON.stringify(sets) %> ;
    </script>
	<script>

    	$(document).ready(function() {
    		io.socket.on('nodeUpdate', function(newNode) {
          if(title === 'map') {
      			if (!!nodes[newNode.hostname] && !!(nodes[newNode.hostname]["overlay"]) &&
      					(newNode.logs.length > 0 || !nodes[newNode.hostname].status)) {
      				setTimeout((function(overlay) {
      					return function() {
      						overlay.setMap(null);
      						overlay = null;
      					};
      				})(nodes[newNode.hostname].overlay), 3000);
      			}
      			drawNode(newNode);
          }
    			nodes[newNode.hostname] = newNode;
    			var scope = angular.element($('body')).scope();
    			scope.$apply(function() {
    				scope.nodeList[newNode.hostname] = newNode;
    			});
    		});

        io.socket.on('logUpdate', function(msg) {
          var scope = angular.element($('body')).scope();
          scope.$apply(function() {
            scope.logs.push(msg);
          });
        });
    	});

    </script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/map.js"></script>
    <script src="/js/angular-mocks.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
